*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
}

.containerOne{
    max-width: 100%;
    margin: 0 auto;

}
.container{
    max-width: 83%;
    margin: 0 auto;
}

.navbar-menu{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar-left_title{
    padding-top: 3px;
    color: #263746;
    font-size: 32px;
    font-weight: 400;
}
.navbar{
    background-color:white;
    padding: 30px 40px;
    position: fixed;
    z-index: 2;
    border: 0.0001px solid #bfc4ca;
    width: 100%;
    
}
.navbar-right_tel{
    background: inherit;
}
.navbar .containerOne{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 28px;

}
.navbar-right_tel{
    width: 20px;
    animation: example 3s infinite;
}
.navbar-tel:hover{
    color: blueviolet;
}
@keyframes example{
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.navbar-right_link{
    display: flex;
    align-items: center;
    gap: 2px;
}
.navbar-right_search{
    width: 30px;
}
.navbar-right_savat{
    width: 30px;
}
.navbar-right_one{
   display: flex;
   align-items: center;
   gap: 10px; 
}
.navbar-tel{
    color: #263746;
}
.navbar-center{
    display: flex;
    align-items: center;
    gap: 20%;
} 
.navbar-center a{
    font-size: 18px;
    font-weight: 400;
    color: #263746;
}
.navbar-select{
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: #263746;
    outline: none   ;
}
.navbar-center a:hover{
    color: rgb(174, 0, 255);
}
.navbar-select:hover{
    color: rgb(200, 0, 255);
}
.inputSearch{
    width: 30%;
    padding: 17px 20px;
    border-radius: 10px;
    font-size: 20px;
   
   
}
.inputSearch::placeholder{
    font-size: 18px;
}
.imgX{
    width: 30px;
    
   border-radius: 50%;
  
   
    
}
.divNow{
display: flex;
align-items: start;
justify-content: center;
width: 100%;
gap: 5px;

}
.footer{
    background-color: white;
    padding: 70px 0px;
}
.footer .container{
   display: flex;
   justify-content: space-between;
   align-items: start;
   margin: 0 auto;
   width: 100%;
   margin-bottom: 20px;
}
.headr{
    padding-top: 110px;
}
.footer-right{
    display: flex;
    align-items: start;
   justify-content: space-between;
   width: 60%;
}
.footer-left_title{
    padding-bottom: 20px;
    color: #263746;
    font-size: 20px;
    font-weight: 500;
}
.footer-right_title{
    padding-bottom: 20px;
    color: #263746;
    font-size: 20px;
    font-weight: 500;
}
.hr{
    display: none;
}
.footer-left_text{
    padding-bottom: 10px;
    color: #263746;
    font-weight: 400;
}
.footer-left_text:hover{
    color: blueviolet;
}
.footer-right_twoe{
    width: 450px;
    
}
.footer-right_text{
    font-size:14px ;
    color: #6d7d8c;
    padding-bottom: 22px;
}
.footer-email{
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #3df7fb;
    font-size: 16px;
    color: #263746;
    outline: none;
}
.footer-btn{
    border: 1px solid #3df7fb;
    background:#2bd4a2;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
}
.footer-btn:hover{
    border: 1px solid #bc3dfb;
}
.footer-form{
    display: flex;
    gap: 15px;
}
.footer-hr{
    width: 93%;
    margin: 0 auto;
    
}
.footer-right_twoee{
    display: none;
}
.headr{
    background-color:rgb(0, 149, 255);
    background-position: bottom;
    
}   
.headr .container{
    display: flex;
    align-items: center;
    gap: 20%;
    padding-top: 60px;
    padding-bottom: 0px;
}
.headr-left_title{
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
    vertical-align: inherit;
    opacity: 80%;
    padding-bottom: 40px;
}
.headr-aylanma{
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
}
.headr-left_text{
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    color: #fff;
    padding: 25px 0px;
}
.headr-right_img{
    width: 400px;
    
}
.headr-select{
    padding: 25px   ;
    width: 450px;
    font-size: 20px;
    color: rgb(49, 109, 205);
    font-weight: 700;
    outline: none;
    border-radius: 10px;
}
.nav-title{
    font-size: 32px;
    font-weight: 600;
    color: #263746;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 80px;
}
.nav-top_img{
    width: 100%;
    height: 135px;
    padding-bottom: 25px;
    transition: 0.8s;
  
}
.nav-top_img:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.nav-item{

    width: 18%  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-top_text{
    text-align: center;
    color: #263746;
    font-size: 18px;
}
.nav-top_text:hover{
    color: #bc3dfb;
}
.nav{
    background-color: aliceblue;
    padding-bottom: 80px;
}
.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 34px 15px;
    width: 60%;
    margin: 0 auto;
    border-radius: 12px;
   
}
.nav-bottom_text{
    font-size: 24px;
}
.oram{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-bottom_btn{
    padding: 10px;
    background: #1ad8ac;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    border: 1px solid transparent;
    color: white;
}
.nav-bottom_btn:hover{
    border: 1px solid blueviolet;
    
}
.main-top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-top_inner{
    display: flex;
    align-items: center;
}
.main-top_title, .main-top_subtitle{
    font-size: 56px;
    font-weight: 300;
    color: #263746;
}
.main-top_text{
    font-size: 16px;
    font-weight: 400;
    color:#263746 ;
    padding-top: 10px;
}
.main{
    background-color: #EAF8FF;
    padding-top: 80px;
}
.main-top_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.main-bottom{
    background: rgb(0, 153, 255);
    padding: 20px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.main-bottom_title{
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.main-bottom_btn{
    background-color: #fff;
    color:rgb(0, 153, 255) ;
    padding: 15px 8px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 16px;
    border: 1px solid transparent;
}
.main-bottom_btn:hover{
    border: 1px solid #bc3dfb;
}
.section-items{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.section-item{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.section-item_subtext{
    text-align: center;
}
.section-img{
    width: 140px    ;
    border-radius: 50%;
    padding-bottom: 10px;
}
.section{
    padding: 80px 0px;
    background: #d4f1ff;
}
.section-title{
    text-align: center;
    padding-bottom: 60px;
    font-size: 32px;
    color: #263746;
    font-weight: 400;
   
}
.section-item_title{
    color: #384C5E;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 8px;
}
.section-item_text{
    color: #384C5E;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}
.section-item_subtext{
    font-size: 16px;
    font-weight: 300;
    color: #6D7D8C;
}
.wrap-img{
    width: 50px;
}
.wrap-link{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px 10px;
    border-radius: 8px;
}
.wrap{
background-color:rgb(0, 149, 255); ;
padding: 80px 0px;
}
.wrap-subtex{
    font-size: 20px;
    color: #263746;
}
.wrap-subtex:hover{
    color: #bc3dfb;
}
.wrap-title{
    font-size: 44px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    padding-bottom: 13px;
}
.wrap-text{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 70px;
}
.wrap-inner{
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap-link{
    width: 48%;
    margin-bottom: 4%;
    gap: 10px;
    transition: transform 0.3s ease;
}
.wrap-link:hover{
    
    transform: translateY(-10px);
}
.main-modal{
    position: absolute;
    top: 40%;
    background-color: white;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    width: 70%;
   left: 15%;
    
}
.form_modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
   
}
.main {
    position: relative;
}
.modal-isim {
    width: 90%;
    padding: 0px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;

}
.form_modal hr{
    width: 90%;
    padding-top: 0px;
}
.modal-familiya{
    width: 90%;
    padding: 0px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}
.modal-tel{
    width: 90%;
    padding: 0px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}
.modal-btn{
    width: 90%;
    padding: 12px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #1ad8ac;
    font-size: 20px;
    color: #263746;
}
.modal-title{
    font-size: 32px;
    color: #263746;
    padding-bottom: 20px;
    text-align: center;
}
.modal-img{
    width: 30px;
    
   padding-top: 10px;
   padding-bottom: 20px;
}
.modal-imgs{
    display: flex;
    align-items: end;
    justify-content: end;
}
@media(max-width:1200px){
    .headr .container{
        gap: 10%;
    }
    
}
@media(max-width:1100px){
    .navbar-center{
        display: none;
    }
    .headr-right_img{
        display: none;
    }
    .headr .container{
        padding-bottom: 80px;
    }
    .nav-item{
        width: 30%;
        margin-bottom: 50px;
    }
    .nav-top{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-top_img{
        width: 80%;
    }
    .nav-bottom{
        width: 90%;
    }
    .wrap-link{
        width: 100%;
        margin: 4% auto;
    }
    .wrap-inner{
        width: 100%;
    }
    .footer-right_twoe{
        display: none;
    }
    .footer-right_twoee{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .footer{
        display: flex;
        flex-direction: column;
        
    }
    .footer .container{
        display: flex;
        align-items: start;
        justify-content: space-between;
       
    }
    .footer-right{
        width: auto;
    }
    .footer-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-right_title{
        text-align: center;
    }
    .footer-right_text{
        text-align: center;
    }
    .footer-left_text{
        text-align: start;
    }
}
@media(max-width:800px){
    .nav-bottom{
        width: 100%;
    }
    .nav-bottom_im{
        width: 30px;
    }
    .nav-bottom_text{
        font-size: 19px;
    }
    .nav-top_img{
        width: 100%;
    }
    .section-item{
        width: 47%  ;
        margin-bottom: 40px;
    }
    .section-items{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:700px){
    .headr-left_title{
        font-size: 35px;
    }
    .headr-aylanma{
        font-size: 35px;
    }
    .headr-left_text{
        font-size: 18px;
    }

}
@media(max-width:600px){
   .navbar-tel{
    display: none;
   }
   .nav-item{
    width: 45%;
   }
   .main-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
}
@media(max-width:500px){
    .navbar-left_title{
        font-size: 24px;
    }
    .navbar-left_img{
        width: 20px;
    }
    .navbar-right{
        gap: 12px;

    }
    .containerOne{
        width: 100%;
    }
    .navbar{
        padding: 30px 10px;
    }
    .headr-select{
        width: 100%;
    }
    .headr .container{
        gap: 0%;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .headr-left_title{
        font-size: 32px;
        padding-bottom: 20px;

    }
    .headr-aylanma{
        font-size: 32px;
    }
    .headr-left_text{
        font-size: 17px;
        padding-top: 10px;
    }
    .headr-select{
        font-size: 16px;
    }
    .inputSearch{
        width: 90%;
    }

    .nav-item{
        width: 100%;
       border: 1px solid #263746;
       border-radius: 10px;
       padding: 15px 8px;

       animation: transform 0.3s ease;
    }
    .nav-item:hover{
        transform: translateY(-10px);
    }
    .nav-top_img{
        width: 280px;
        height: 160px;
       
    }
    .nav-item br{
        display: none;
    }
    .nav-bottom{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: start;
        align-items: start;
    }
    .nav-top{
        padding-bottom: 40px;
    }
    .nav-bottom_btn{
        width: 100%;
    }
    .main-top_title{
        font-size: 35px;
    }
    .main-top_subtitle{
        font-size: 35px;
    }
    .main-top_img{
        width: 35px;
    }
    .main-top_text{
        font-size: 14px;
        text-align: center;
    }
    .main-bottom_title{
        font-size: 16px;
    }
    .main-bottom_btn{
        font-size: 15px;
    }
    .main{
    padding-top: 40px;
    }
    .section-title{
        font-size: 28px;
    }
    .section-item{
        width: 100%;
        border: 1px solid #263746;
        border-radius: 10px;
         padding: 15px 3px;
    }
    .wrap-title{
        font-size: 32px;
    }
    .wrap-text{
        font-size: 14px;
        padding-bottom: 30px;
    }
    .wrap br{
        display: none;
    }
    .wrap{
        padding-bottom: 30px;
        padding-top: 40px;
    }
    .footer .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-email{
        width: 100%;
    }
    .footer-btn{
        width: 100%;
    }
    .hr{
        display: block;
        width: 100%;
    }
    .footer-right_title{
        text-align: start;
    }
    .footer-right_text{
        text-align: start;
    }
    .nav-modal{
        width: 100%;
    }
    .modal-title{
        font-size: 27px;
    }
}
